$themes: (
  light: (
    // sidebar
    sidebar-background-color: #fff,
    sidebar-iconfont-color: #000,
    sidebar-title-color: #000,
    menu-hover: #fff,
    menu-text-hover: #51A7FF,
    submenu-text-hover: #51A7FF,
    // header
    navbar-bg: #fff,
    sidebar-logo-bg: #fff,
    sidebar-logo-text: #000,
    breadcrumb-a-color: #000,
    //tags
    tags-active-bg: #409EFF,
    account-template-bg: #fff,
    account-template-font-color: #304156
  ),
  dark: (
    sidebar-background-color: #304156,
    sidebar-iconfont-color: #fff,
    sidebar-title-color: #fff,
    menu-hover: #0270c1,
    menu-text-hover: #fff,
    submenu-text-hover: #fff,
    navbar-bg: #304156,
    tags-active-bg: #304156,
    sidebar-logo-bg: #008df7,
    sidebar-logo-text: #f7f7f7,
    breadcrumb-a-color: #f7f7f7,
    account-template-bg: #304156,
    account-template-font-color: #fff
  )
)